body {
    font-family:'Times New Roman', Times, serif;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 1px;
}

.search-bar {
    display: flex;
}

.search-bar input, .search-bar button {
    padding: 10px;
    margin: 1px;
}

.logo {
    display: block;
    margin: 10px 0;
    height: 100px;
    width: auto;
}

#categories {
    background-color: lightgray;
    padding: 10px;
}

.hidden {
    display: none;
}

address {
    font-style: normal;
    background-color: #f0f0f0;
    padding: 10px;
    text-align:left ;
}


#libri {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  /* Distribuisce gli spazi uniformemente tra i libri */
    align-items: stretch;           /* Allinea gli elementi verticalmente */
}

.libro {
    background-image: url("images/libro.svg");
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: white;  /* Aggiunto per migliorare la leggibilità del testo su sfondo chiaro */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  /* Assicura che l'immagine di sfondo copra completamente la card */
    height: 450px;
    width: 300px;  /* Dimensioni standard per una card */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Spazia equamente gli elementi dentro la card */
    align-items: center; /* Centra il contenuto orizzontalmente */
    text-align: center;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  /* Ombra per un effetto di elevazione */
    position: relative;
}
.libro h1 {
    color: #e40f0f;
    font-size: 18px; /* Dimensione del font adatta alla card */
    margin: 20px 0; /* Margini ridotti per sfruttare lo spazio */
    width: 90%; /* Larghezza interna della card */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Permette al testo di andare a capo */
}

.libro h3 {
    color: #000000;
    font-size: 16px; /* Leggermente più piccolo del titolo */
    font-weight: bold; /* Rende il nome dell'autore in grassetto */
    margin: 10px 0; /* Maggiore enfasi con maggiore spazio */
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.libro h4 {
    color: #000000;
    font-size: 15px;
    font-style: italic;
    margin: 30px 0;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
